
<h1></h1>
<table class="table">
 <div id="classlist"><tr>
  <td class="bg-info"><a href="#" data-toggle="tooltip" title="Class:">Name</a></td>
  <td class="bg-info"><a href="#" data-toggle="tooltip" title="Click to sort">Instructor</a></td>
  <td class="bg-info"><a href="#" data-toggle="tooltip" title="Description">Description</a></td>
  <td class="bg-info"><a href="#" data-toggle="tooltip" title="Date">Date</a></td>
   </tr>
<tr>
  <td>Yoga</td>
  <td>Karen Reiter</td>
  <td>unwind and relax</td>
  <td>Monday</td>
   </tr>
<tr>
  <td>Spinning</td>
  <td>Shaquil Timmons</td>
  <td>sing and dance</td>
  <td>Tuesday</td>
   </tr>
</table>
</div>
